.card-flex {
  display: flex;
  flex-flow: row wrap;
  height: 30em;
}

// main {
//     height: 60em;
// }

.card-container {
  position: relative;
  left: 35%;
  transform: translate(-50%);
  padding: 1rem;
  width: 22em;
  height: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .card-front {
    background-color: #000;
    border: 2px solid #336699;
    padding: 0.25rem;
    margin: 1rem;
    width: 20em;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    img {
      width: 19em;
      align-self: center;
      order: 1;
    }

    h2 {
      order: 2;
      align-self: center;
    }

    p {
      padding: 1rem;
      order: 3;
      border-width: 0;
    }

    .flip {
      order: 4;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .card-back {
    background-color: #000;
    border: 2px solid #336699;
    padding: 0.25rem;
    margin: 1rem;
    width: 20em;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    min-height: auto;
    justify-content: center;
    align-content: space-between;

    img {
      width: 19em;
      align-self: center;
      order: 1;
    }

    h2 {
      order: 2;
      align-self: center;
    }

    p {
      display: inline-block;
      order: 3;
      padding: 1rem;
      width: 100%;
    }

    .flip {
      order: 4;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.card-container2 {
  position: relative;
  left: 35%;
  transform: translate(-50%);
  padding: 1rem;
  width: 22em;
  height: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .card-front2 {
    background-color: #000;
    border: 2px solid #336699;
    padding: 0.25rem;
    margin: 1rem;
    width: 20em;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    img {
      width: 19em;
      align-self: center;
      order: 1;
    }

    h2 {
      order: 2;
      align-self: center;
    }

    p {
      padding: 1rem;
      order: 3;
      border-width: 0;
    }

    .flip2 {
      order: 4;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .card-back2 {
    background-color: #000;
    border: 2px solid #336699;
    padding: 0.25rem;
    margin: 1rem;
    width: 20em;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-between;

    img {
      width: 19em;
      align-self: center;
      order: 1;
    }

    h2 {
      order: 2;
      align-self: center;
    }

    p {
      padding: 1rem;
      order: 3;
    }

    .flip2 {
      order: 4;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// Flip card buttons
button.flip,
button.flip2 {
  &.snap-md {
    &.LOM-btn {
      background: #000333;
      text-align: center;
      padding: 0 10px 0 0;

      &:hover {
        background: #790823;
      }
    }
  }
}